.home {
    align-items: center;
    padding: 1rem;

    .start-trading {
        text-align: center;

        button {
            padding: 1rem 2rem;
            font-size: larger;
            background-color: rgb(1, 78, 245);
            color: white;
            border: none;
            border-radius: 2rem;
        }
    }

    .crypto-main {
        cursor: pointer;
        display: inline-block;

        ul {
            list-style: none;

            li {
                display: flex;
                align-items: center;
                border-radius: 16px;
                padding: 0rem 1rem;
                max-width: max-content;

                .icon-div {
                    background-color: rgba(128, 133, 202, 0.671);
                    border-radius: 10px;
                    padding: 0rem 0.7rem;
                }

                * {
                    margin: 1rem 0.5rem;
                }

                &:hover {
                    background-color: rgba(208, 242, 252, 0.801);
                    box-shadow: 0 14px 64px 0 hsl(0deg 0% 6% / 10%);
                }
            }
        }
    }

    .crypto-experience {
        .emojis {
            display: inline-block;
        }
    }
}

@media (max-width:1050px) {
    * {
        max-width: 99vw;
    }
}

@media (max-width:350) {

    * {
        max-width: 99vw;
        flex-wrap: wrap;
    }

    .home {
        width: 100vw;
    }
}