@import 'config';

.main-nav {
    background-color: rgb(10, 33, 36);
    position:absolute;
    top: 0;
    height: 100%;
    opacity: 0;
    @include transition-ease;

    ul {
        list-style-type: none;
        margin: auto;

        li {
            border-bottom: 1px solid rgb(255, 255, 255);
            padding: 2rem;

            a {
                text-decoration: none;
                color: white;
            }
            a .active{
                color: orange;
            }
        }
    }

    &.nav-active {
        opacity: 1;
    }

    &.nav-hidden {
        opacity: 0;
    }
    
}

.menu-btn {
    position: absolute;
    z-index: 1;
    left: 1rem;
    height: 20px;
    padding: 0.2rem;
    width: 28px;
    cursor: pointer;
    background-color: transparent;

    @include transition-ease;

    &_burger {
        border-radius: 1px;
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 28px;
        height: 3px;
        @include transition-ease;
        background:
            linear-gradient(to right,
                rgb(157, 255, 0), rgb(0, 195, 255));

        &::before {
            content: '';
            position: absolute;
            top: -8px;
            border-radius: 1px;
            width: 28px;
            height: 3px;
            @include transition-ease;
            background:
                linear-gradient(to right,
                    rgb(0, 255, 213), rgb(255, 0, 0), rgb(162, 0, 255));
        }

        &::after {
            content: '';
            position: absolute;
            top: 8px;
            width: 20px;
            height: 3px;
            background:
                linear-gradient(to right,
                    rgb(153, 0, 255), rgb(0, 255, 213), rgb(238, 255, 0));
            @include transition-ease;
        }
        &.open{
            transform: rotate(0deg);
            background: transparent;

            &::before{
                transform: rotate(45deg) translate(5px, 8px);
            }
            &::after{
                width: 28px;
                transform: rotate(-45deg) translate(3px, -7px);
            }
        }
    }
}
